body{
  background-color: lavender;
  width: 60%;
  margin: 5% auto auto auto;
}

.container{
  text-align: center;
}

.box{
  background: rgb(223, 223, 250);
  padding: 4%;
}

.task_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
  display: flex;
  width: 60%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1%;
}

.update {
  display: flex;
  width: 20%;
  align-items: center;
  justify-content:flex-start;
}

.item p {
  font-size: medium;
  margin: 0 2px; /* Decrease both left and right margins to create a tighter gap */
}

.submit{
  text-decoration: none;
  margin-top: 4%;
}

.submit input[type="text"] {
  width: 35%; 
  padding: 0.5%;
}